<md-toolbar color="primary">

    <span>MyCompany</span>
    <span class="example-spacer"></span>
    <button md-button [mdMenuTriggerFor]="appMenu"><md-icon>menu</md-icon> Menu</button>
    
</md-toolbar>

<md-menu #appMenu="mdMenu">
  <button md-menu-item> Settings </button>
  <button md-menu-item> Help </button>
</md-menu>



<md-card class="example-card">
  


  <md-card-actions>
    <button md-button (click)="login()" *ngIf="!(user | async)?.uid">Anonymous Login</button>
  <button md-button  (click)="logout()" *ngIf="(user | async)?.uid">Logout</button>
  </md-card-actions>

  
</md-card>



<input type="text" id="message" *ngIf="(user | async)?.uid" placeholder="What is it that you do?" (keyup.enter)="Send($event.target.value)" [(ngModel)]="msgVal" />
 
  <md-card class="example-card" id="details-container">
      <p *ngFor="let item of items | async"><img style="width:32px;Height:32px;" src="../assets/images/pin.svg">{{item.message}}</p>
  </md-card>

